@using System.Security.Claims;
@using Microsoft.AspNetCore.Authorization
@using ReichertsMeatDistributing.Shared;
@inject IDealService ideal;
@page "/admin/deals/edit/{id:int}"
@inject CustomAuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigationManager
    <div id="container">
    <h1>Edit Deal</h1>
        @if (deal == null)
        {
            <p>Loading...</p>
        }
        else
        {
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" @bind-value="@deal.Name">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" @bind-value="@deal.Description">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price" @bind-value="@deal.Price">
            </div>
            <button type="submit" class="btn btn-primary" @onclick="UpdateDeal">Save</button>
            <button type="button" class="btn btn-danger" @onclick="DeleteDeal">Delete</button>
        </form>
        }
    </div>

@code {
    [Parameter]
    public int id { get; set; }

    private WeeklyDeal deal;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/");
        }
        else if (!user.IsInRole("admin"))
        {
            navigationManager.NavigateTo("/");
        }
        await LoadDealAsync();
    }

    private async Task LoadDealAsync()
    {
        // Get the deal ID from the URL
        string uri = navigationManager.Uri;
        int idStartIndex = uri.LastIndexOf("/") + 1;
        int idLength = uri.Length - idStartIndex;
        if (int.TryParse(uri.Substring(idStartIndex, idLength), out int dealId))
        {
            deal = await ideal.GetDealById(dealId);
        }
        else
        {
            // Deal ID was not provided or is not a valid integer
            // Handle error or redirect to a default page
        }
    }

    private async Task UpdateDeal()
    {
        string uri = navigationManager.Uri;
        int idStartIndex = uri.LastIndexOf("/") + 1;
        int idLength = uri.Length - idStartIndex;
        if (int.TryParse(uri.Substring(idStartIndex, idLength), out int dealId))
        {
            await ideal.UpdateDeal(dealId, deal);
        }
        else
        {
            // Deal ID was not provided or is not a valid integer
            // Handle error or redirect to a default page
        }
        navigationManager.NavigateTo("/admin/deals");
    }

    private async Task DeleteDeal()
    {

        string uri = navigationManager.Uri;
        int idStartIndex = uri.LastIndexOf("/") + 1;
        int idLength = uri.Length - idStartIndex;
        if (int.TryParse(uri.Substring(idStartIndex, idLength), out int dealId))
        {
            await ideal.DeleteDeal(dealId);
        }
        else
        {
            // Deal ID was not provided or is not a valid integer
            // Handle error or redirect to a default page
        }
        navigationManager.NavigateTo("/admin/deals");
    }
}