@page "/ContactUs"
@using ReichertsMeatDistributing.Shared;
@using System.Text.Json;
@using System.Text;
@inject HttpClient HttpClient


<div class="container">
    <div class="row justify-content-center">
        <h2 class="card-title">Contact Us</h2>
        <p>We're here to help! If you have any questions or inquiries, please contact us by email or phone!</p> 
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <img class="image" src="/Pictures/Picture1.jpg" />
        </div>
        <div class="col-sm-6 contact-info">
            <h2>Phone:</h2>
            <p>(360) 330-1653</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6 contact-info">
            <h2>Email:</h2>
            <a href="mailto:reichertsdistributinginc@gmail.com">reichertsdistributinginc@gmail.com</a>
        </div>
        <div class="col-sm-6">
            <img class="image" src="/Pictures/Picture2.jpg" />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <img class="image" src="/Pictures/Picture3.jpg" />
        </div>
        <div class="col-sm-6 contact-info">
            <h2>Location:</h2>
            <a href="https://goo.gl/maps/TToGHisF5bkrnxJVA">3701 Northpark Drive Centralia, Washington 98531</a>
        </div>
    </div>
</div>

@code {

}

