@page "/Products"


<h3>Products</h3>
<div class="container">
    <div class="row">
        @foreach (var product in productList)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="" class="card-img-top" alt="@product.ItemId">
                    <div class="card-body">
                        <h5 class="card-title">@product.ItemId</h5>
                        <p class="card-text">@product.StockingUm</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
