.card{
    border: none;
} 
.con{
    overflow: hidden;
}

.col-md-2 {
    text-align: center;
    color: white;
    background-color: darkolivegreen;
}

.col-md-12 {
    display: flex;
    justify-content: center;
}

button{
    border: none;
    margin: 10px;
    background-color: grey;
    color: white;
    font-size: 20px;
}

h3{
    font-size: 40px;
    margin: 20px;
}

.col-md-10 h3{
    text-align: center;
}


.form-group {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-md-4 {
    flex: 0 0 100%;
    box-sizing: border-box;
}

.card {
    border: 2px solid black;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box; /* Add this line */
}

.card-body {
    flex: 1;
}

@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 33.33333%;
    }
}