/* The side navigation menu */
.sidebar {
    margin: 20px;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Sidebar links */
.sidebar a {
display: block;
padding: 4px;
text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    color: white;
}

.navbar a.active {
    color: white;

}

.nav-item{
    padding-left: 10px;
}
.navbar-nav {
    margin-right: 20px;
}

navbar{
    overflow: hidden;
}


.navbar-brand h1 {
    font-family: Arial;
    font-size: 30px;
}

.nav-item a{
    font-family: Arial;
    font-size: 20px;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

.sidebar {
    width: 100%;
    height: auto;
    position: relative;
}

.sidebar a {
    float: left;
}

div.content {
    margin-left: 0;
}

nav {
    background-color: rgba(0, 0, 0, 0.9);
    padding:2%

}

main {
    min-height: 100vh;
}

@media (min-width: 992px) {
    

    .navbar-toggler{
        display : none
    }

    .sidebar{
        display : none
    }
}

footer {
background-color: black;
padding: 0px;
width: 100%;
color:white;
padding-bottom: 30px;
}

.footer a:not(.socialBar a){
    text-decoration: none;
    color:white;
}

.socialBar {
    background-color: #524C51;
    color: white;

}


.socialBar .col-md-12 {
    align-self: center;
    padding: 2%;
    text-align: center;
    margin: 20px;
}


.text-center {
    padding: 2%;
}


.col-md-12 h2{
    text-align: center;
    margin-bottom: 50px; /* add some space between each row */
}


footer .col-md-6 .social-icons svg {
    float: right;
    align-self: center;

}

footer .col-md-6:last-child {
    align-self: center;
}

footer .col-md-6 {
    padding: 2%;
}

@media (max-width:770px){

    .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

    .social-icons svg {
        width: 50px;
        height: 50px;
    }

    .footer div div p, .footer div div a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

}

.container{
    padding-top: 40px;
}

.row{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

