/* The side navigation menu */
.sidebar {
    margin: 20px;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Sidebar links */
.sidebar a {
display: block;
padding: 4px;
text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    color: white;
}

.navbar a.active {
    color: white;

}

.nav-item{
    padding-left: 10px;
}
.navbar-nav {
    margin-right: 20px;
}

navbar{
    overflow: hidden;
}


.navbar-brand h1 {
    font-family: Arial;
    font-size: 30px;
}

.nav-item a{
    font-family: Arial;
    font-size: 20px;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

.sidebar {
    width: 100%;
    height: auto;
    position: relative;
}

.sidebar a {
    float: left;
}

div.content {
    margin-left: 0;
}

nav {
    background-color: rgba(0, 0, 0, 0.9);
    padding:2%

}



@media (min-width: 992px) {
    

    .navbar-toggler{
        display : none
    }

    .sidebar{
        display : none
    }

}

footer {
    color:white;
    overflow: hidden;
}

.footer a:not(.socialBar a){
    text-decoration: none;
    color:white;
}

.socialBar {
    background-color: #524C51;
    width: 100%;
}

.navlinks{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.row{
    text-align: center;
    padding: 20px;
}

.container:not(.socialBar){
    background-color: black;
}


@media (max-width: 576px) {
    .navbar-brand h1{
        font-size: 20px;
        padding-left: 20px;
        text-align: center;
    }
}